$primary-base: #f3ced6;
$primary-light: #fbeff1;
$primary-dark: #bfa3a9;
$secondary-base: #f2efb6;
$secondary-light: #f9f7dc;
$tertiary-base: #859da6;
$fourth-base: #a67c85;
$fifth-base: #b6e2f2;
$neutral: #736265;
$highlight: #f4869e;
$background: #733f4a;

