@value colors: './colors.css';
@value primary-base, primary-light, primary-dark, secondary-base, secondary-light, tertiary-base, fourth-base, fifth-base, highlight, neutral, background from colors;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline;
  margin-top: -120px;
  position: relative;
  z-index: -1;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: primary-dark;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.section {
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-height: 215px;
  background-color: secondary-base;
}

.section:hover,
.section:focus,
.section:active {
  /* color: primary-base; */
  border-color: primary-base;
  background-color: primary-base;
}

.section.first {
  background-color: primary-base;
}

.section.second {
  background-color: secondary-base;
}

.section.third {
  background-color: tertiary-base;
}

.section.fourth {
  background-color: fourth-base;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: tertiary-base;
  border: 1px solid tertiary-base;
  border-radius: 100%;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 350px;
  height: 350px;
  background-color: secondary-light;
}

.circle:hover,
.circle:focus,
.circle:active {
  color: black;
  border-color: primary-base;
  background-color: primary-base;
}

.circle h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.circle p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.vercelLogo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
