@import "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins/_breakpoints";
@import  "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color:#f3ced6;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color:#f3ced6;
  border: .05rem solid #f3ced6;
}