.orLoginWith {
    margin: 25px 0;
    font-size: 12px;
    text-align: center;
    color: gray;
  }
  .socialBtn {
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #8a8a8a;
    padding: 9px 24px 9px 35px;
    width: 80%;
    background-color: #fff;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 23% 50%;
  }
  .redirecting {
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
  }